<header>
	<p>Select items and the list and move them to the correct order</p>
	<ul>
		<li>Use tab button to choose down, use shift+tab to choose up</li>
		<li>Use up and down arrows to move the chosen items</li>
	</ul>
</header>
<main>
	<ul id="theTabs" class="tabs">
		<li *ngFor="let tab of tabs" [attr.data-tid]="tab.id" id="li_tab_{{tab.id}}" 
		[ngClass]="{'li_tab': true, 'selected':currentTab === tab.id}">
			<a href="#{{tab.id}}" id="a_tab_{{tab.id}}" class="a_tab">
				<span class="badge">{{tab.id}}</span> {{tab.name}}
			</a>
		</li>
	</ul>

	<div id="buttonContainer">
		<div id="upClickButton" role="button" aria-pressed="false">
		</div>

		<div id="downClickButton" role="button" aria-pressed="false">
		</div>
	</div>

	<a href="#reset" class="resetLink" id="resetLink" aria-label="reset the item list" role="button" aria-pressed="false">RESET</a>

</main>